<div class="container search">
  <h1>Search Results</h1>

  <div id="student-search-results">
    <div class="row">
      <h2>Students</h2>
      <% if @students.nil? || @students.empty? %>
        <p>No students were found.</p>
      <% else %>
      <% @students.each do |student_profile | %>
        <div class="col-xs-6 col-sm-4 col-md-2">
          <%= link_to student_profile do %>
            <%= image_tag student_profile.photo.url(:thumb), height: 100, width: 100 %><br />
          <% end %>
          <%= link_to student_profile.full_name, student_profile %><br />
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div id="college-search-results">
    <div class="row">
      <h2>Colleges</h2>
      <% if @colleges.nil? || @colleges.empty? %>
        <p>No colleges were found.</p>
      <% else %>
      <% @colleges.each do |college| %>
        <div class="col-xs-6 col-sm-4 col-md-2">
          <%= link_to college do %>
            <%=image_tag college.logo.url(:thumb), height: 100, width: 100 %><br />
          <% end %>
          <%= link_to college.name, college %><br />
        </div>
      <% end %>
     <% end %>
   </div>
  </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66994510-1', 'auto');
  ga('send', 'pageview');

</script>
