<div class-"row">
  <div class="col-xs-6 col-xs-offset-3 college-text">
  <%= form_tag student_status_college_path(@college) do %>
    <%= hidden_field_tag :student_profile_id, @student_profile.to_param %>
    <div class="field college-text">
      <%= label_tag :college_student_status, "College Status:", :class => "profile-header" %><br>
      <%= select_tag :college_student_status, options_for_select([''] + CollegeStudentStatus::VALID_STATUSES, @college_status.try(:status_name)) %>
    </div>
    <div class="actions">
      <%= submit_tag "Add College", id: :college_student_status_submit, disabled: true, :class => "btn btn-default btn-sm" %>
    </div>
  <% end %>
 </div>
</div>

<script>
 $(function() {
     var submitButton = $("input#college_student_status_submit");
     var statusSelect = $("select#college_student_status");
     var originalButtonText;
     var originalStatus = statusSelect.val();

     if (originalStatus != '') {
         submitButton.val("Update College");
     }
     originalButtonText = submitButton.val();

     var updateSubmitButton = function() {
         var currentStatus = statusSelect.val();

         submitButton.prop('disabled', currentStatus == originalStatus);

         if ((currentStatus == '') && (originalStatus != '')) {
             submitButton.val("Remove College");
         } else {
             submitButton.val(originalButtonText);
         }
     }

     statusSelect.change(function(event) {
         updateSubmitButton();
     });
 });
</script>
