<header class="background">
  <div class="container full-image">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-7 hidden-xs">
        <h1 class="header-text">Your Future Starts Here</h1>
      </div>
      <div class="col-xs-12 visible-xs">
        <h4 class="small-screen-text">Your Future Starts Here</h1>
        </div>
    </div>
    <div class="row small-screen-padding">
      <div class="col-xs-offset-7 col-xs-1 col-sm-offset-5 col-sm-2 col-md-offset-7 col-md-1 btn-center hidden-xs">
        <%= link_to "Start Exploring", new_user_registration_path, :class => "btn btn-default btn-xlarge" %>
      </div>
      <div class="col-xs-4 btn-center btn-sm visible-xs">
        <%= link_to "Start Exploring", new_user_registration_path, :class => "btn btn-default btn-md btn-yellow" %>
      </div>
      <div class="col-xs-offset-1 col-xs-4 btn-center btn-sm visible-xs">
        <%= link_to "Continue Your Journey", new_user_session_path, :class => "btn btn-default btn-md btn-white home-btn-txt" %>
      </div>
      <div class="col-xs-offset-1 col-xs-1 btn-center hidden-xs">
        <%= link_to "Continue Your Journey", new_user_session_path, :class => "btn btn-default btn-xlarge-white" %>
      </div>
</header>

<div class="container-fluid">
  <div class="row logo">
    <div class="col-xs-offset-4 col-xs-4">
      <%= image_tag("cru1-2.png", class: "img-responsive center-block") %>
    </div>
  </div>
  <div class="row mission" id="our-mission">
    <div class="col-xs-12 center">
      <h1 class="sub-header-text">Our mission is simple:</h1>
      <h2 class="h2-text">We want to help students like you with the college search & admissions process.</h2>
    </div>
    <div class="col-xs-12 center">
      <%= image_tag("student-pic.png", class: "img-responsive img-circle center-block") %>
    </div>
  </div>
  <div class="row why-care">
    <div class="col-xs-12 center" id="how-we-help">
      <h1 class="sub-header-text">We believe choosing the right college should be</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-4 center">
      <span class="glyphicon glyphicon-heart-empty glyphicon-enlarge"></span>
    </div>
    <div class="col-md-4 col-xs-4 center">
      <span class="glyphicon glyphicon-phone glyphicon-enlarge"></span>
    </div>
    <div class="col-md-4 col-xs-4 center">
      <span class="glyphicon glyphicon-thumbs-up glyphicon-enlarge"></span>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 center">
        <h1 class="sub-header-text">FUN</h1>
        <h2 class="h2-text">Win college swag</h2>
      </div>
      <div class="col-md-4 col-xs-4 center">
        <h1 class="sub-header-text">EASY</h1>
        <h2 class="h2-text"> Mobile-friendly!  We will alert you when a deadline is approaching!</h2>
      </div>
      <div class="col-md-4 col-xs-4 center">
        <h1 class="sub-header-text">SOCIAL</h1>
        <h2 class="h2-text">Connect with friends, real students, alumni, and more</h2>
      </div>
    </div>
  <div class="row talk-to-us" id="connect">
    <div class="col-xs-12 center">
      <h1 class="sub-header-text">Have a question?  Suggestion?  Think this is the dumbest thing ever?</h1>
      <h2 class="h2-text">We can answer that!  Great, we LOVE suggestions!!  Umm, OK, you can keep that one to yourself.</h2>
    </div>
    <div class="col-xs-12 center">
      <a class="btn btn-default btn-xlarge" href="mailto: julie@collegerecruitu.com">E-mail Us</a>
    </div>
  </div>
  <div class="row social-media-links">
    <div class="col-md-offset-3 col-md-2 col-xs-4 center">
      <a href="https://www.twitter.com/collegerecruitu"><%= image_tag("Twitter.png", class: "img-responsive center-block") %></a>
    </div>
    <div class="col-md-2 col-xs-4 center ">
      <a href="https://www.facebook.com/pages/College-Recruit-U/388610184665297"><%= image_tag("Facebook.png", class: "img-responsive center-block") %></a>
    </div>
    <div class="col-md-2 col-xs-4 center">
      <a href="https://instagram.com/collegerecruitu/"><%= image_tag("Instagram.png", class: "img-responsive center-block") %></a>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <h4 class="white-text">College Recruit U LLC, 2015</h4>
  </div>
</nav>

<script>
#('#nav').affix({
  offset: {
    top: $('header').height()
  }
});
</script>
