<div class="container">
  <%= form_for(@student_profile) do |f| %>
  <% if @student_profile.errors.any? %>
  <h5><%= pluralize(@student_profile.errors.count, "error") %> prohibited this student_profile from being saved:</h5>
  <ul>
    <% @student_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :high_school %><br>
    <%= f.select :high_school, options_for_select(high_schools.keys, @student_profile.high_school) %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <%= f.select :graduation_year, options_for_select(StudentProfile::VALID_GRADUATION_YEARS, @student_profile.graduation_year) %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <% student_interests.each_key do |key| %>
      <%= check_box_tag 'student_profile[interests][]', "#{key}", @student_profile.interests.include?(key) %>
      <%="#{key}" %> <br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
