<div class="container">
  <%= form_for(@student_profile) do |f| %>
  <% if @student_profile.errors.any? %>
  <h5><%= pluralize(@student_profile.errors.count, "error") %> prohibited this student_profile from being saved:</h5>
  <ul>
    <% @student_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :high_school %><br>
    <%= f.select :high_school, options_for_select(high_schools.keys, @student_profile.high_school) %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <%= f.select :graduation_year, options_for_select(StudentProfile::VALID_GRADUATION_YEARS, @student_profile.graduation_year) %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <% student_interests.each_key do |key| %>
      <%= check_box_tag 'student_profile[interests][]', "#{key}", @student_profile.interests.include?(key) %>
      <%="#{key}" %> <br />
    <% end %>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <% Factor.all.each do |factor| %>
      <% factor_rating = @student_profile.factor_ratings.where(factor_id: factor.id).take %>
      <div class="field">
        <%= label_tag "student_profile[factor_ratings_attributes][]", factor.name %>
        <%= hidden_field_tag "student_profile[factor_ratings_attributes][]id", factor_rating.try(:id) %>
        <%= hidden_field_tag "student_profile[factor_ratings_attributes][]factor_id", factor.id %>
        <%= hidden_field_tag "student_profile[factor_ratings_attributes][]importance", factor_rating.try(:importance) %>
        <%= content_tag :div, "", class: "factor_importance_slider" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>

<script>
  $(function() {
    $(".factor_importance_slider").slider({
      min: 1,
      max: 5,
      step: 1,
      change: function(event, ui) {
        $(event.target).prev().val(ui.value);
      },
      create: function(event, ui) {
        $(this).slider('value', $(this).prev().val());
      }
    });
  });
</script>
