<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="profile-header"><%= @student_profile.first_name %> <%= @student_profile.last_name %></h3>
      <div class="row text-center">
        <%= image_tag "high-school-logos/#{high_schools[@student_profile.high_school].try(:[], :logo)}" %>
      </div>
      <h5 class="small-text">Class of <%=@student_profile.graduation_year %></h5>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= image_tag @student_profile.photo.url(:medium) %>
    </div>
  </div>

  <div class="row"><br />
    <div class="col-xs-12 center">
        <% if current_user == @student_profile.student %>
          <%= link_to "Edit Profile", edit_student_profile_path(@student_profile), :class => "btn btn-default btn-md" %>
        <% elsif current_user.student_profile.try(:fan_of?, @student_profile) %>
        <%= link_to "Stop being a Fan", stop_being_a_fan_student_profile_path(current_user.student_profile, other_profile_id: @student_profile.to_param), :method => :post, :class=> "btn btn-danger btn-md" %>
        <% else %>
          <%= link_to "Become a Fan", become_a_fan_student_profile_path(current_user.student_profile, other_profile_id: @student_profile.to_param), :method => :post, :class => "btn btn-success btn-md" %>
        <% end %>
    </div>
  </div>

  <div class="fans-container">
    <div class="row">
      <div class="col-xs-6">
        <h4 class="sub-text-blue"><span class="glyphicon glyphicon-star-empty glyphicon-sm-blue"></span>Fan of <%= @student_profile.fan_of.count %></h4>
      </div>
      <div class="col-xs-6">
        <h4 class="sub-text-blue"><span class="glyphicon glyphicon-star-empty glyphicon-sm-blue"></span><%= @student_profile.fans.count %> Fans</h4>
      </div>
    </div>
      <div class="row student-profile-fans">
        <div class="col-xs-6">
          <div class="row">
            <% @student_profile.fan_of.each do |fan_of| %>
              <div class="col-xs-4 col-md-2">
                <%= link_to student_profile_path(fan_of) do %>
                  <%= image_tag fan_of.photo.url(:thumb) %><br />
                  <%= fan_of.first_name %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <div class="col-xs-6">
        <div class="row student-profile-fans">
          <% @student_profile.fans.each do |fan| %>
            <div class="col-xs-4 col-md-2">
              <%= link_to student_profile_path(fan) do %>
                <%= image_tag fan.photo.url(:thumb) %><br />
                <%= fan.first_name %>
              <% end %>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div><br />

<div class="container visible-xs">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-sunglasses glyphicon-sm-blue"></span>I'm a Fan</h4>
    </div>
    <div class="col-xs-12 student-colleges-container">
      <% @student_profile.college_student_statuses.just_a_fan.each do |college_student_status| %>
        <div class="col-xs-3 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-zoom-in glyphicon-sm-blue"></span>Considering</h4>
    </div>
    <div class="col-xs-12 student-colleges-container">
      <% @student_profile.college_student_statuses.considering.each do |college_student_status| %>
        <div class="col-xs-4 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-file glyphicon-sm-blue"></span>Applying</h4>
    </div>
      <div class="col-xs-12 student-colleges-container">
      <% @student_profile.college_student_statuses.applying.each do |college_student_status| %>
        <div class="col-xs-4 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container hidden-xs">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-sunglasses glyphicon-sm-blue"></span>I'm a Fan</h4>
    </div>
    <div class="col-md-4 col-sm-4">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-zoom-in glyphicon-sm-blue"></span>Considering</h4>
    </div>
    <div class="col-md-4 col-sm-4">
      <h4 class="sub-text-centered-blue"><span class="glyphicon glyphicon-file glyphicon-sm-blue"></span>Applying</h4>
    </div>
  </div>
</div>
<div class="container hidden-xs">
  <div class="row">
    <div class="col-md-4 col-sm-4 student-colleges-container">
      <% @student_profile.college_student_statuses.just_a_fan.each do |college_student_status| %>
        <div class="col-md-2 col-sm-3 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-4 student-colleges-container">
      <% @student_profile.college_student_statuses.considering.each do |college_student_status| %>
        <div class="col-md-2 col-sm-3 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 col-sm-4 student-colleges-container">
      <% @student_profile.college_student_statuses.applying.each do |college_student_status| %>
        <div class="col-md-2 col-sm-3 student-profile-colleges">
            <%= link_to college_student_status.college do %>
              <%= image_tag(college_student_status.college.logo(:thumb)) %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @student_profile.college_student_statuses.blank? %>
        <h5 class="college-text"><%= @student_profile.first_name %> is not following any colleges yet </h5>
        <% end %>
    </div>
  </div><br />

  <div class="row">
    <div class="col-xs-12">
      <% if @student_profile.college_student_statuses.where(status_name: "Enrolling").blank? %>
      <h5 class="sub-text-centered"><%= @student_profile.first_name %> is still being recruited! </h5>
      <% else %>
      <h5 class="sub-text-centered"><%= @student_profile.first_name %> is going to <% @student_profile.college_student_statuses.where(status_name: "Enrolling").each do |college_student_status | %>
        <%= link_to college_student_status.college.name, college_student_status.college %> </h5>
        <div class="row">
          <div class='col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 centered'>
            <%= image_tag(college_student_status.college.logo(:thumb)) %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container student-interests-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <% if @student_profile.interests.blank? %>
      <h5 class="sub-text-centered"><span class="glyphicon glyphicon-heart glyphicon-sm-blue"></span><%= @student_profile.first_name %> has not added any interests yet</h5>
      <% else %>
      <h5 class="sub-text-centered">You can find <%= @student_profile.first_name %>....</h5>
      <% @student_profile.interests.each do |interest| %>
      <%= image_tag "interests/#{student_interests[interest].try(:[], :logo)}", title: interest %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container majors-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <% if @student_profile.majors.blank? %>
      <h5 class="sub-text-centered"><span class="glyphicon glyphicon-book glyphicon-sm-blue"></span> <%= @student_profile.first_name %> isn't sure what to study in college yet </h5>
        <% else %>
        <h5 class="sub-text-centered">Majors Interested In:</h5>
        <% @student_profile.majors.each do |major| %>
        <%= image_tag "majors/#{student_majors[major].try(:[], :logo)}", title: major %>
        <% end %>
        <% end %>
    </div>
  </div>
</div>


<div class="container factors-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <% if @student_profile.factor_ratings.blank? %>
        <h5 class="college-text"><%= @student_profile.first_name %> has not indicated <%= pronoun(@student_profile.gender) %> factors yet </h5>
      <% else %>
        <h4 class="sub-text">What's important to <%= @student_profile.first_name %></h4>
        <% @student_profile.factor_ratings.each do |fr| %>
          <div><%= fr.factor.name %></div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= fr.importance %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= fr.importance * 20 %>%;"></div>
          </div>
        <% end %>
        <% end %>
    </div>
  </div>
</div>

<div class="container links-container">
  <%= link_to 'Browse Students', student_profiles_path, class: "btn btn-success btn-md"%>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66994510-1', 'auto');
  ga('send', 'pageview');

</script>
