<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="profile-header"><%= @student_profile.first_name %> <%= @student_profile.last_name %></h3><h5 class="profile-header">Class of <%=@student_profile.graduation_year %></h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <%= image_tag @student_profile.photo.url(:medium) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 hs-logo">
        <%= image_tag "high-school-logos/#{high_schools[@student_profile.high_school].try(:[], :logo)}" %>
      </div>
    </div>
    <div class="col-xs-12 profile-header">
      <% if current_user.student_profile %>
      <%= link_to "Edit Profile", edit_student_profile_path(@student_profile), :class => "btn btn-info btn-sm white-txt" %>
      <% elsif @student_profile.fan_of (:other_profile_id) %>
      <%= link_to "Become a Fan", become_a_fan_student_profile_path(:other_profile_id), :method => :post, :class => "btn btn-success btn-sm"%>
      <% else %>
      <%= link_to "Stop being a Fan", stop_being_a_fan_student_profile_path(:other_profile_id), :method => :delete, :class => "btn btn-danger btn-sm" %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <h4 class="sub-text">Fan of <%= @student_profile.fan_of.count %></h4>
    </div>
    <div class="col-xs-6">
      <h4 class="sub-text"><%= @student_profile.fans.count %> Fans</h4>
    </div>

  </div>

<div class="row">
  <div class="col-xs-12">
    <strong>Interests:</strong>
      <% @student_profile.interests.each do |interest| %>
        <%= image_tag "interests/#{student_interests[interest].try(:[], :logo)}" %>
      <% end %>
  </div>
</div>

<div id="fan_of">
  <h2>I am a Fan of</h2>

  <ul>
    <% @student_profile.fan_of.each do |fan_of| %>
    <li><%= link_to fan_of.full_name, student_profile_path(fan_of) %></li>
    <% end %>
  </ul>
</div>

<div id="my_fans">
  <h2>My Fans</h2>

  <ul>
    <% @student_profile.fans.each do |fan| %>
    <li><%= link_to fan.full_name, student_profile_path(fan) %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Browse Students', student_profiles_path, class: "btn btn-info btn-sm"%>
