<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student_profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student_profile.gender %>
</p>

<p>
  <strong>High school:</strong>
  <%= @student_profile.high_school %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @student_profile.graduation_year %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>

<h2>I am a Fan of</h2>

<ul>
  <% @student_profile.fan_of.each do |fan_of| %>
  <li><%= link_to fan_of.full_name, student_profile_path(fan_of) %></li>
  <% end %>
</ul>

<h2>My Fans</h2>

<ul>
  <% @student_profile.fans.each do |fan| %>
  <li><%= link_to fan.full_name, student_profile_path(fan) %></li>
  <% end %>
</ul>
