<div class="container">
  <div class="row college-name-and-logo">
    <div class="col-xs-8 col-md-6 col-md-offset-2">
      <h1 class="small-screen-text-black"><%= @college.name%></h1>
    </div>
    <div class="col-xs-4 col-md-2">
      <%= image_tag(@college.logo(:thumb)) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-md-4 col-md-offset-4 centered">
      <% @college.photos.each do |photos| %>
        <%= image_tag(photos.photo(:medium)) %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="sub-text-centered"><%= @college.city %>, <%= @college.state %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5 class="sub-text-centered"><%= @college.region %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5 class="sub-text-centered"><%= @college.college_type %></h5>
    </div>
  </div>
</div>

<div class="container">
  <%= render "shared/college_student_status" %>
</div>

<div class="container">
  <div class="row college-show-students">
    <div class="col-xs-3 col-md-4 centered">
      <h4 class="sub-text">Fans: <%= @college.fans.count %></h4>
        <% @college.fans.each do |student_profile| %>
          <%= link_to image_tag(student_profile.photo(:thumb), title: student_profile.full_name), student_profile_path(student_profile)  %>
        <% end %>
    </div>
    <div class="col-xs-5 col-md-4 centered">
      <h4 class="sub-text">Considering: <%= @college.considering.count %></h4>
        <% @college.considering.each do |student_profile| %>
          <%= link_to image_tag(student_profile.photo(:thumb), title: student_profile.full_name), student_profile_path(student_profile)  %>
        <% end %>
    </div>
    <div class="col-xs-4 col-md-4 centered">
      <h4 class="sub-text">Applying: <%= @college.applying.count %></h4>
        <% @college.applying.each do |student_profile| %>
          <%= link_to image_tag(student_profile.photo(:thumb), title: student_profile.full_name), student_profile_path(student_profile)  %>
        <% end %>
    </div>
  </div>
</div><br />

<div class="container">
  <div class="row boxed-text">
    <div class="col-xs-12">
      <h4 class="sub-text">Learn About <%= @college.name %></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-8 centered">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Connect</a></li>
        <li><a data-toggle="pill" href="#menu1">Cost</a></li>
        <li><a data-toggle="pill" href="#menu2">Student</a></li>
        <li><a data-toggle="pill" href="#menu3">Application</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <% if @college.twitter %>
          <div class="col-xs-4 col-md-offset-3 col-md-1 college-text">
            <%= link_to image_tag("social-icons/twitter_vector.png"), "http://www.twitter.com/"+@college.twitter %>
          </div>
        <% end %>
        <% if @college.facebook %>
          <div class="col-xs-4 col-md-offset-1 col-md-1 college-text">
            <%= link_to image_tag("social-icons/facebook_vector.png"), "http:/www.facebook.com"+@college.facebook %>
          </div>
        <% end %>
        <% if @college.instagram %>
          <div class="col-xs-4 col-md-offset-1 col-md-1 college-text">
            <%= link_to image_tag("social-icons/instagram_vector.jpg"), "http://www.instagram.com/"+@college.instagram %>
          </div>
        <% end %>
      </div>
      <div class="row"><br />
        <% if @college.admissions_rep_page %>
          <div class="col-xs-6 col-md-offset-4 col-md-1 centered">
            <%= link_to 'Find Your Admissions Rep', @college.admissions_rep_page, class: "btn btn-default" %>
          </div>
        <% end %>
        <% if @college.college_visit_page %>
          <div class="col-xs-5 col-xs-offset-1 col-md-offset-1 col-md-2 centered">
            <%= link_to 'Schedule a Visit', @college.college_visit_page, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div><br />

    <div id="menu1" class="tab-pane fade">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <% if @college.in_state_tuition != ""  %>
            <h5 class="sub-text-centered"><strong>In-state tuition:</strong> <%= @college.in_state_tuition %></h5>
          <% end %>
          <% if @college.out_of_state_tuition != ""  %>
            <h5 class="sub-text-centered"><strong>Out-of-state tuition:</strong> <%= @college.out_of_state_tuition %></h5>
          <% end %>
          <% if @college.percent_receive_financial_aid != "" %>
            <h5 class="sub-text-centered"><strong>Receiving Financial Aid: </strong><%= @college.percent_receive_financial_aid %></h5>
          <% end %>
          <% if @college.financial_aid_link %>
            <div class="col-xs-12 col-md-6 col-md-offset-3 centered">
              <%= link_to 'Find Scholarships', @college.financial_aid_link, class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div><br />
    </div>

    <div id="menu2" class="tab-pane fade">
      <div class="row">
        <div class="col-xs-12">
          <% if @college.percent_female != "" %>
            <h5 class="sub-text-centered"><strong>Female:</strong> <%= @college.percent_female %></h5>
          <% end %>
          <% if @college.percent_male != "" %>
            <h5 class="sub-text-centered"><strong>Male:</strong> <%= @college.percent_male %></h5>
          <% end %>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 centered">
          <%= image_tag("male-female-symbols.jpg", height: 100, width: 150)%>
        </div>
        <div class="col-xs-12">
          <% if @college.avg_gpa != "" %>
            <h5 class="sub-text-centered"><strong>Average GPA: </strong><%= @college.avg_gpa %></h5>
          <% end %>
          <% if @college.avg_sat != ""  %>
            <h5 class="sub-text-centered"><strong>Average SAT: </strong><%= @college.avg_sat %></h5>
          <% end %>
          <% if @college.avg_act != ""  %>
            <h5 class="sub-text-centered"><strong>Average ACT: </strong> <%= @college.avg_act %></h5>
          <% end %>
          <% if @college.percent_minority != ""  %>
            <h5 class="sub-text-centered"><strong>% Minority: </strong><%= @college.percent_minority %></h5>
          <% end %>
          <% if @college.percent_international != ""  %>
            <h5 class="sub-text-centered"><strong>% Int'l: </strong> <%= @college.percent_international %></h5>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% if @college.popular_majors != ""  %>
          <h5 class="sub-text-centered"><strong>Popular Majors:</strong> <%= @college.popular_majors %></h5>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3 centered">
        <%= link_to_if @college.link_to_majors.present?, 'See List of Majors', @college.link_to_majors, class: "btn btn-default" %>
      </div>
    </div>

    <div id="menu3" class="tab-pane fade">
      <div class="row">
        <div class="col-xs-6 col-md-3 col-md-offset-3 centered">
          <%= image_tag("essay.svg", class: "img-responsive essay-icon") %>
        </div>
        <div class="col-xs-6 col-md-3 centered">
          <%= image_tag("essay.svg", class: "img-responsive essay-icon") %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3 col-md-offset-3 ">
          <h5 class="sub-text-centered"><%= @college.number_of_essays %> Essays </h5>
        </div>
        <div class="col-xs-6 col-md-3 ">
          <h5 class="sub-text-centered"><%= @college.number_of_recommendations %> Recommendations </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 centered">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Get Personalized Help With Your Application</button>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">We will be in touch soon!</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 centered">
          <h5 class="college-text">Early Admissions Deadline: <%= @college.early_admissions_deadline %></h4>
          <h5 class="college-text">Regular Admissions Deadline: <%= @college.fall_deadline %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h5 class="sub-text-centered">Still can't find what you're looking for?  Ask a current student or admissions rep a question!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 centered">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Ask a Question</button>
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="gridSystemModalLabel">We will be in touch soon!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 centered">
      <% if @college.notable_alumni? %>
      <h4 class="sub-text-centered">Famous Alumni</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 centered">
      <h4 class="sub-text-centered"><%= @college.notable_alumni %></h4>
    </div>
  </div>
    <% else %>
    <% end %>
</div>
</div>
<br />

<div class="links-container">
  <%= link_to 'Browse Colleges', colleges_path, class: "btn btn-success btn-md" %>
</div>
