<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CollegeRecruitU</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div id="nav">
      <div class="navbar navbar-default navbar-static navbar-fixed-top">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-label="Left Align" data-target=".navbar-components">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <% if user_signed_in? %>
          <li><a href="/home" class="navigation-links"><h2 class="md-text-white">Home</h2></a></li>
          <% if current_user.try(:student_profile) %>
          <li><%= link_to "Your Profile", student_profile_path(current_user.student_profile), :class => ("md-text-white") %></li>
          <% else %>
          <li><%= link_to "Create Profile", new_student_profile_path(current_user), :class => ("md-text-white") %></li>
          <% end %>
          <li><%= link_to "Colleges", colleges_path, :class => ("md-text-white")%></li>
          <li><%= link_to "Students", student_profiles_path, :class => ("md-text-white") %></li>
          <li><a href="www.collegerecruitu.wordpress.com"><h2 class="md-text-white">Blog</h2></a></li>
          <li><a href="/download"><h2 class="md-text-white">Help</h2></a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', :class => ("md-text-white") %></li>
        </ul>
        <div class="cru-search-div">
          <%= form_tag search_path, class: "form-inline pull-right", role: "search" do %>
          <%= text_field_tag :query, '', class: "form-control cru-search-field", placeholder: "Search" %>
          <button type="submit" class="btn btn-default">Go</button>
          <% end %>
        </div>
        <% else %>
        <ul>
          <li><a href="#our-mission"><h2 class="md-text-white">OUR MISSION</h2></a></li>
          <li><a href="#how-we-help"><h2 class="md-text-white">HOW WE HELP</h2></a></li>
          <li><a href="#connect"><h2 class="md-text-white">TALK TO US</h2></a></li>
          <li><a href="https://collegerecruitu.wordpress.com"><h2 class="md-text-white">BLOG</h2></a></li>
        </ul>
        <% end %>
      </div>
    </div>

    <%= flash_messages %>

    <%= yield %>

  </body>

</html>
